@font-face {
  font-family: "imza";
  src: url("font/imza.otf");
}

@font-face {
  font-family: "uzun";
  src: url("font/Tungsten-Bold.ttf");
}

body {
  background-color: #0a1931;
  color: #feb139;
}

hr {
  background-color: #0a1931;
  color: #feb139;
  border-style: none;
  height: 2px;
  width: 10%;
  border-top-style: dotted;
  border-top-width: 10px;
}

h1 {
  font-family: "uzun";

  color: #feb139;
  text-align: center;
}

p {
  color: #feb139;
  text-align: center;
}

h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #feb139;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.contactMe {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.imza {
  font-family: imza;
  font-size: larger;
}
