body {
  background-color: #a5c9ca;
  color: #100f0f;
}

hr {
  background-color: #a5c9ca;
  color: #100f0f;
  border-style: none;
  height: 2px;
  width: 10%;
  border-top-style: dotted;
  border-top-width: 10px;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #100f0f;
  text-align: center;
}

p {
  color: #100f0f;
  text-align: center;
}

h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #100f0f;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
